# Hello World

dist /extensions/LevelSet/LevelSet.dist                https://raw.githubusercontent.com/OpenEngineDK/extensions-LevelSet/master/LevelSet.dist

git /extensions/LevelSetCUDA               https://github.com/OpenEngineDK/extensions-LevelSetCUDA.git
git /extensions/CUDA                   https://github.com/OpenEngineDK/extensions-CUDA.git


git-dev /extensions/LevelSetCUDA           git@github.com:OpenEngineDK/extensions-LevelSetCUDA.git
git-dev /extensions/CUDA           git@github.com:OpenEngineDK/extensions-CUDA.git



